@-moz-document url("http://kuroganehammer.com/"), url-prefix("http://kuroganehammer.com/Smash"), url-prefix("http://kuroganehammer.com/Melee"), url-prefix("http://kuroganehammer.com/Pokken"), url-prefix("http://kuroganehammer.com/RivalsofAether"), url-prefix("http://kuroganehammer.com/Glossary"), url-prefix("http://kuroganehammer.com/AboutUs") {
/*! KuroganeHammer dark theme (v0.1.0) */
/* Author: Franndotexe */
/*credit for body goes to:
/*! Github Dark Theme v1.14.87 (6/21/2016) */
/*
 * https://github.com/StylishThemes/GitHub-Dark
 * http://userstyles.org/styles/37035
 * License: https://creativecommons.org/licenses/by-sa/4.0/
*/

body {
    background-color: #222 !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAgMAAAANjH3HAAAACVBMVEUaGhohISElJSUh9lebAAAB20lEQVRIx4XWuZXDMAwE0C0SAQtggIIYoAAEU+aKOHhYojTrYP2+QfOW/5QIJOih/q8HwF/pb3EX+UPIveYcQGgEHiu9hI+ihEc5Jz5KBIlRRRaJ1JtoSAl5Hw96hLB1/up1tnIXOck5jZQy+3iU2hAOKSH1JvwxHsp+5TLF5MOl1/MQXsVs1miXc+KDbYydyMeUgpPQreZ7fWidbNhkXNJSeAhc6qHmHD8AYovunYyEACWEbyIhNeB9fRrH3hFi0bGPLuEW7xCNaohw1vAlS805nfsrTspclB/hVdoqusg53eH7FWot+wjYpOViX8KbFFKTwlnzvj65P9H/vD0/hibYBGhPwlPO8TmxRsaxsNnrUmUXpNhirlJMPr6Hqq9k5Xn/8iYQHYIuQsWFC6Z87IOxLxHphSY4SpuiU87xJnJr5axfeRd+lnMExXpEWPpuZ1v7qZdNBOjiHzDREHX5fs5Zz9p6X0vVKbKKchlSl5rv+3p//FJ/PYvoKryI8vs+2G9lzRmnEKkh+BU8yDk515jDj/HAswu7CCz6U/Mxb/PnC9N41ndpU4hUU7JGk/C9PmP/M2xZYdvBW2PObyf1IUiIzoHmHW9yTncliYs9A9tVNppdShfgQaTLMf+j3X723tLeHgAAAABJRU5ErkJggg==) !important;
    background-clip: border-box !important;
    background-origin: padding-box !important;
    background-attachment: scroll !important;
    background-repeat: repeat !important;
    background-size: auto !important;
    background-position: left top !important;
}

header{
    background-color: #255e7f;
    border-radius: 5px;
}
footer{
    background-color: #255e7f;
    border-radius: 5px;
}
td {
    border-color: rgba(26, 26, 26, 0.0);
    background: rgba(26, 26, 26, 0.0);
}
tr {
    border-color: rgba(26, 26, 26, 0.0);
}
tbody {
    border-color: rgba(26, 26, 26, 0.0);
}
table {
    border-color: rgba(26, 26, 26, 0.0);
}
h1 {
    color: #f6f5fc;
}
h2 {
    color: #f6f5fc;
}
h3 {
    color: #f6f5fc;
}
}

@-moz-document url-prefix("http://kuroganehammer.com/Smash4/"), url-prefix("http://kuroganehammer.com/Melee/"), url-prefix("http://kuroganehammer.com/Pokken/"), url-prefix("http://kuroganehammer.com/RivalsofAether/"), url-prefix("http://kuroganehammer.com/Glossary"), url-prefix("http://kuroganehammer.com/AboutUs") {
/*! KuroganeHammer dark theme (v0.1.0) */
/* Author: Franndotexe */
/*credit for body goes to:
/*! Github Dark Theme v1.14.87 (6/21/2016) */
/*
 * https://github.com/StylishThemes/GitHub-Dark
 * http://userstyles.org/styles/37035
 * License: https://creativecommons.org/licenses/by-sa/4.0/
*/

body {
    background-color: #222 !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAgMAAAANjH3HAAAACVBMVEUaGhohISElJSUh9lebAAAB20lEQVRIx4XWuZXDMAwE0C0SAQtggIIYoAAEU+aKOHhYojTrYP2+QfOW/5QIJOih/q8HwF/pb3EX+UPIveYcQGgEHiu9hI+ihEc5Jz5KBIlRRRaJ1JtoSAl5Hw96hLB1/up1tnIXOck5jZQy+3iU2hAOKSH1JvwxHsp+5TLF5MOl1/MQXsVs1miXc+KDbYydyMeUgpPQreZ7fWidbNhkXNJSeAhc6qHmHD8AYovunYyEACWEbyIhNeB9fRrH3hFi0bGPLuEW7xCNaohw1vAlS805nfsrTspclB/hVdoqusg53eH7FWot+wjYpOViX8KbFFKTwlnzvj65P9H/vD0/hibYBGhPwlPO8TmxRsaxsNnrUmUXpNhirlJMPr6Hqq9k5Xn/8iYQHYIuQsWFC6Z87IOxLxHphSY4SpuiU87xJnJr5axfeRd+lnMExXpEWPpuZ1v7qZdNBOjiHzDREHX5fs5Zz9p6X0vVKbKKchlSl5rv+3p//FJ/PYvoKryI8vs+2G9lzRmnEKkh+BU8yDk515jDj/HAswu7CCz6U/Mxb/PnC9N41ndpU4hUU7JGk/C9PmP/M2xZYdvBW2PObyf1IUiIzoHmHW9yTncliYs9A9tVNppdShfgQaTLMf+j3X723tLeHgAAAABJRU5ErkJggg==) !important;
    background-clip: border-box !important;
    background-origin: padding-box !important;
    background-attachment: scroll !important;
    background-repeat: repeat !important;
    background-size: auto !important;
    background-position: left top !important;
    color: #fbebec !important;
}
td {
    border-color: rgba(26, 26, 26, 0.0);
    background: rgba(26, 26, 26, 0.0);
}
tr {
    border-color: rgba(26, 26, 26, 0.0);
}
tbody {
    border-color: rgba(26, 26, 26, 0.0);
}
table {
    border-color: rgba(26, 26, 26, 0.0);
}
table tbody tr td div span{
    color: #fbebec !important;
}
h1 {
    color: #fbebec !important;
}
h2 {
    color: #fbebec !important;
}
h3 {
    color: #fbebec !important;
}
table td {
    color: #fbebec !important;
    background: rgba(26, 26, 26, 0.0) !important;
    border-color: rgba(251, 235, 236, 0.5) !important;
}
}

@-moz-document url("http://kuroganehammer.com/Smash4/Attributes") {
td {
    border-color: rgba(26, 26, 26, 0.0);
    background: rgba(26, 26, 26, 0.0);
}
tr {
    border-color: rgba(26, 26, 26, 0.0);
}
tbody {
    border-color: rgba(26, 26, 26, 0.0);
}
table {
    border-color: rgba(26, 26, 26, 0.0);
}
table td {
    color: #fbebec !important;
    background: rgba(26, 26, 26, 0.0) !important;
    border-color: rgba(26, 26, 26, 0.0) !important;
}
}

@-moz-document url("http://kuroganehammer.com/Smash4/Calculator"), url("http://kuroganehammer.com/SmashResources") {
td div span[style] {
    color: #fbebec !important;
}

table td{
        color: #fbebec !important;
}

table thead tr th {
    background-color: #255e7f;
}
}